/* NUNITO */

@font-face {
  font-family: "nunito";
  src: url("./nunito/nunito-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./nunito/nunito-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./nunito/nunito-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url("./nunito/nunito-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./nunito/nunito-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
html {
  font-size: 16px;
}

body {
  background: #f8f8f8;
  font-size: 1rem;
  font-family: "lato", sans-serif;
}

* {
  box-sizing: border-box;
}

H1,
H2,
H3,
H4,
H5,
H6,
.sub__title,
.main__title {
  font-family: "nunito", sans-serif;
}

H1,
.sub__title {
  font-size: 30px;
  font-weight: 600;
  color: #3e5876;
  /* margin-top: 30px; */
  margin-bottom: 30px;
}

H2,
.main__title {
  font-size: 20px;
  font-weight: 600;
  color: #ef4227;
  margin-bottom: 15px;
}

H3 {
  font-size: 16px;
  /* font-weight: 700; */
  color: #3e5876;
  margin-bottom: 0px;
}

H4 {
  font-size: 16px;
  font-weight: 700;
  color: #4a4a4a;
}

a {
  text-decoration: none;
  color: #3e5876;
}

a:hover {
  color: #3e5876;
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #324f6a;
  height: fit-content;
  padding: 32px;
  display: flex;
  align-items: center;
}

header img {
  width: 250px;
  margin-right: 32px;
}
header h1 {
  color: #fff;
  font-size: 2.5rem;
}

.links {
  width: fit-content;
  margin-left: auto;
  margin-top: -1.5em;
}

.links a,
.links a:hover,
.links a:visited {
  color: white;
  padding: 1em;
}

.main {
  max-width: 1400px;
  width: 100%;
  /* margin: auto; */
  padding: 32px;
}

.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  background-color: #f8f8f8;
  top: 0px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.section-title h1 {
  margin: 0px;
}

.item {
  padding-bottom: 30px;
}

.item .widget {
  flex: 3;
}

.widget.flexible {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.widget.flexible iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

pre {
  padding: 15px;
  background-color: beige;
}

button {
  font-size: 1rem;
  padding: 10px;
}

.wrapper-top {
  margin-top: 45px;
}
