html {
  font-size: 16px;
}

body {
  background: #f8f8f8;
  font-size: 1rem;
  font-family: "lato", sans-serif;
}

* {
  box-sizing: border-box;
}

H1,
H2,
H3,
H4,
H5,
H6,
.sub__title,
.main__title {
  font-family: "nunito", sans-serif;
}

H1,
.sub__title {
  font-size: 30px;
  font-weight: 600;
  color: #3e5876;
  margin-top: 30px;
  margin-bottom: 30px;
}

H2,
.main__title {
  font-size: 20px;
  font-weight: 600;
  color: #ef4227;
  margin-bottom: 15px;
}

H3 {
  font-size: 16px;
  /* font-weight: 700; */
  color: #3e5876;
}

H4 {
  font-size: 16px;
  font-weight: 700;
  color: #4a4a4a;
}

a {
  text-decoration: none;
  color: #3e5876;
}

a:hover {
  color: #3e5876;
  text-decoration: underline;
}
