/* NUNITO */

@font-face {
  font-family: "nunito";
  src: url("./fonts/nunito/nunito-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./fonts/nunito/nunito-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./fonts/nunito/nunito-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url("./fonts/nunito/nunito-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./fonts/nunito/nunito-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* LATO */

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-black.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-blackitalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-bolditalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./fonts/lato/lato-thinitalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
