@import "font.css";
@import "base.css";

image {
  /* width: 100%; */
  max-height: 100%;
}

.main {
  max-width: 1200px;
  margin: auto;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main .content {
  /* overflow: hidden; */
  display: flex;
}

.main .content .content--body {
  overflow: auto;
  flex: 1;
  padding-right: 15px;
  padding-bottom: 150px;
}

.main__title {
  font-family: "nunito", sans-serif;
  font-weight: 600;
  /* font-size: 2.5rem; */
  margin: 1rem 0;
}

.header {
  padding-bottom: 15px;
}

.header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .page-link {
  font-size: 1.25rem;
  color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--link img {
  width: 140px;
  height: auto;
}

.footer {
  padding-top: 15px;
}

.wrapper__title {
  font-family: "nunito", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

.row {
  margin-bottom: 5vw;
}

.row__title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.row__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
.item {
  width: fit-content;
  border: 1px solid #aaa;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.item:last-child {
  margin: 0px;
}

.item__title {
  font-size: 1rem;
  border-bottom: 1px solid #aaa;
  padding: 0.5em;
  font-weight: bold;
}

.item__title .item__subtitle {
  font-weight: normal;
}
.item__content {
  height: 100%;
  font-size: 1.25rem;
  padding: 0.5em;
} */

.item {
}

.main__footer {
  position: absolute;
  bottom: 0;
}

.row--wind .item__title {
  background: rgb(232, 227, 255);
}
.row--solar .item__title {
  background: rgb(255, 253, 227);
}
/* 
.sub__title {
  font-family: "nunito", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  width: 100%;
}
.subtitle {
  font-size: 20px;
} */

.update-info,
.source {
  font-size: 0.7rem;
}

/* JAUGE */

.wrapper__info {
  margin-right: 15px;
  margin-top: auto;
  width: 15%;
}

.wrapper__jauge {
  display: flex;
  width: 250px;
}

.wrapper__jauge .jauge:first-child {
  margin-right: 10px;
}

.jauge {
  display: block;
  /* height: 200px; */
  flex: 1;
  flex-shrink: 0;
  /* width: 20%; */
  margin-top: auto;
}

.jauge text {
  font-size: 0.8rem;
}
.jauge-title {
  font-size: 0.3rem
}

.battery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charge {
  height: 9%;
}

.wind {
  background-color: #4da338;
}
.empty-wind {
  background-color: #bde5b3;
}
.solar {
  background-color: #ffe20d;
}
.empty-solar {
  background-color: #fff399;
}

.battery {
  /* width: 10vw; */
  height: 30vh;
}

.wind-left {
  flex: 0 0 80%;
  width: 80vw;
}
.wind-right {
  flex: 1;
}
.map-wrapper {
  position: relative;
  /* display: flex; */
  align-items: flex-end;
}

img.map {
  width: 100%;
  display: block;
}
img.logo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  max-height: 35px;
}
.map-legend {
  flex: 1;
  /* position: absolute; */
  margin-top: 2%;
}
.map-legend .label-up {
  font-size: 0.8em;
  top: 0px;
}
.map-legend .label-down {
  font-size: 0.8em;
  bottom: 0px;
}
.legend-gradient {
  height: 18vw;
  width: 3vw;
}
.wrapper {
  display: flex;
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
.solar-left {
  flex: 0 0 50%;
}
.solar-right {
  flex: 1;
}

/* structure Forecast */

.forecast .main__title {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
}

.wrapper--forecast {
  position: relative;
  padding-bottom: 60px;
}

.wrapper--forecast .wrapper__graph,
.wrapper--forecast .map-wrapper {
  margin-top: auto;
  flex: 6;
}

.wrapper--forecast .wrapper__values,
.wrapper--forecast .wrapper__jauge {
  flex: 1;
}

/* PRODUCTION */

.production {
  margin-bottom: 30px;
}

.main--production .header--prod {
  width: 100%;
}

.days__wrapper {
  flex-shrink: 0;
  margin: 15px 0;
}

.days__wrapper .days {
  flex-shrink: 0;
  display: flex;
}

.day {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 1rem;
  margin-right: 15px;
  color: black;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day.highlighted
/* .day.highlighted a,
.day.highlighted a:visited */ {
  border: 1.5px solid #808080;
  background-color: #f2f2f2;
}
day > a {
  font-size: 1.25rem;
}
.day:hover > a {
  border-color: #aaa;
  color: blue;
}
.choice__subtitle {
  font-size: 0.7rem;
}

.pie {
  font-size: 12pt;
  width: 100%;
  min-width: 600px;
}

.pie,
.line-chart {
  padding: 15px;
  border: 1px solid #ccc;
  /* margin-bottom: 30px; */
}

.jauge--value {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.jauge--value:before {
  content: " ";
  width: 1em;
  height: 1em;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.jauge--value.sun:before {
  background-image: url("https://atelier-cartographique.be/storage/apere/sun.svg");
}
.jauge--value.wind:before {
  background-image: url("https://atelier-cartographique.be/storage/apere/wind.svg");
}

/* OVERIDE COLORS */

.content {
  /* background-color: #8c8c8c; */
  /* color: white; */
  background-color: #eee;
  color: #444;
  padding-left: 15px;
  border: 1px solid #ccc;
}

.pie,
.line-chart {
  /* border: 1px solid white; */
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.wrapper__values {
  position: absolute;
  bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.jauge--value.sun:before {
  background-image: url("https://atelier-cartographique.be/storage/apere/sun.svg");
}
.jauge--value.wind:before {
  background-image: url("https://atelier-cartographique.be/storage/apere/wind.svg");
}

text {
  /* fill: white; */
  fill: #444;
}

circle {
  fill: #eee;
}

#legend-rectangle {
  fill: url(#Gradient);
}
.stop1 {
  stop-color: red;
}
.stop2 {
  stop-color: yellow;
}
.stop3 {
  stop-color: rgb(11, 247, 11);
}

/* PREVIOUS PRODUCTION */

.title-select__wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem !important;
}

.title-select__wrapper form {
  margin-left: 1em;
}

.production .line-chart {
  /* max-width: 1000px; */
  margin-bottom: 5px;
}

/* WIDGET -- to be moved into another file */

.widget {
  color: #000000;
}

.widget .content {
  padding-right: 15px;
  padding-bottom: 15px;
}

.widget .wrapper {
  margin-bottom: 15px;
}

.widget .main__title {
  font-family: "nunito", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.widget .item {
  width: fit-content;
}
.widget .item__title,
.widget .item__content {
  font-size: 0.8rem;
}
