@import "font.css";

.news-item .pub_date {
  color: #bbb;
  font-size: 0.8rem;
  font-style: italic;
}

.news-item .pub_title {
  font-family: "nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.news-item .content{
  font-family: "lato";
}

.news-item .footer {
  height: 30px;
  display: flex;
}

.news-item .footer img {
  height: 30px;
  margin-right: 20px;
}
.news-item .link-list a {
  font-size: 0.8rem;
  color: #bbb;
  text-decoration: none;
}
.news-item .link-list a:hover {
  text-decoration: underline;
}
