@import "font.css";
@import "news_base.css";

.previous-news {
  max-width: 500px;
}

.previous-news .news-item {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.previous-news .pub_title a {
  font-family: "nunito", sans-serif;
  text-decoration: none;
  color: inherit;
}
.previous-news .pub_title a:hover {
  text-decoration: underline;
}

.previous-news .content {
  font-family: "lato";
}