@import "news_base.css";

body {
  /* font-family: monospace; */
}

.news-edit {
  margin-left: 3em;
}

.news-edit form {
  /* border: 1px solid grey; */
  margin: 2em 0;
}

.news-edit form > div {
  margin: 1em 0;
}
.news-edit form textarea {
  width: 60%;
  min-height: 400px;
}

.news-list form {
  margin: 2em 0;
}

.news-list .news-item {
  display: flex;
  height: 2em;
  border-bottom: 0.5px solid grey;
  margin-bottom: 0.5em;
}

.news-list .news-item:first-child {
  padding-top: 0.5em;
  border-top: 0.5px solid grey;
}

.news-list .id {
  width: 3em;
  padding-left: 1em;
  font-size: 12pt;
  font-weight: bold;
}

.news-list .pub_date {
  width: 10em;
  font-style: italic;
}

.news-list .status {
  width: 10em;
}
