@import "news_base.css";

.news .date {
  color: #bbb;
  font-size: 0.8rem;
}

.news .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.news .footer {
  height: 20px;
  display: flex;
}

.news .footer img {
  height: 20px;
  margin-right: 20px;
}
.news .footer .link-list a {
  font-size: 0.8rem;
  color: #bbb;
  text-decoration: none;
}
.news .footer .link-list a:hover {
  text-decoration: underline;
}
